/* css start here */
#hrlogin{
  width: 35%;
  height: 50vh;
  border-radius: 5px;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.head{
  text-align: center;
  padding-bottom: 10px;
  color: rgb(122, 30, 122);
}
#hrlogin form input{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
.mean{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 25px;
}
.mean img{
  width: 65%;
  height: 38vh;
  margin-left: 25px;
  transform: translateX(30%);
}
.mean form{
  width: 100%;
  
}
.register li{
  float: right;
  list-style: none;
  color: rgb(122, 30, 122);
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

.register li:hover{
  font-weight: 500;
  color: rgb(36, 6, 36);
}



/* Media query for Responsive Page */


@media (max-width:799px){     /*Ipad view*/
  #hrlogin{
    width: 38%;
    height: 31vh;
    margin: 20px;
    transform: translateX(-10%);
  }
 
  #hrlogin form input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    transform: translateX(-12%);
  }
  .register{
    transform: translateX(-12%);
  }
  .mean{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mean img{
    width: 60%;
  }
 
  
}


@media (max-width:477px){     /*Phone view*/
  .mean{
    display: inline-block;
   }
 
  #hrlogin{
    width: 100%;
    align-items: center;
    height: 40vh;
    margin: 10px;
    transform: translateX(17%);
  }
  
  #hrlogin form input{
    width: 110%;
    padding: 5px;
    border-radius: 5px;
    transform: translateX(2%);
  }

  .mean{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mean img{
    width: 120%;
    height: 22vh;
    margin: 10px;
    transform: translateX(60%);
  }
}